/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
}

/* general */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/* images */
img {
	max-width: 100%;
	height: auto;
}

/* text */

/* lists */
#varianten > ul > li{
	list-style: none;
	font-weight: bold;
	color: dodgerblue;
}
#varianten > ul ul > li{
	list-style: disc; /* <!-- //das icon find ich nicht????-->*/
	margin-left: 2rem
}

/* table */

/* forms */

#font-size-form {
	float: right;
}
#font-size-form > label,
#font-size-form > input,
#font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

