/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
html {
	/* varis */
	--main-color: #0060A0;

	/* counters */
	counter-reset: h3;

	font-size: 1em; /* root element will be affected by js resize tool */
}
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 1.5rem;
}
/* head */
header {
	height: 4.5rem;
	overflow: visible;
	padding: 0 0.5rem;
	margin-bottom: 3rem;
	background-color: var(--main-color);
	color: #ffffff;
}
header img {
	height: auto;
	margin: 10px 5px 0 0;
	width: 90px;
}
header h1{
	margin-top: 0.5rem;
}


/* navigation */
nav {
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	font-weight: lighter;
}
nav dl {
	border: 2px var(--main-color) solid;
	padding: 10px 5px;
	background-color: #F6F6F6;
}
nav dl dd {
	margin-left: 1.5rem;
}
/* icons for nav */
nav a[hreflang="en"]::before {
	background: url("../media/flag-en.svg") no-repeat;
}
nav a[hreflang="fr"]::before {
	background: url("../media/flag-fr.svg") no-repeat;
}
nav a[hreflang="it"]::before {
	background: url("../media/flag-it.svg") no-repeat;
}
nav a[hreflang]::before {
	display: inline-block;
	background-size: 1.4rem 0.8rem;  /*das musst du mir noch erklären warum dasa funktioniert.. Warum ist das Bildchen ein background bild und nicht einfach nur das bild? und könnte dann hier nicht margin-left definiert (ohne das ::before im selector) sein, damit der text einrückt?*/
	width: 1.7em;
	height: 0.8rem;
	content: '';
}

/* main part */
#taschenrechner figure {
	width: 30%;
	max-width: 200px;
	margin-right: 2rem;
	margin-bottom: 1rem;
}
#demonstration figure {
	width: calc(55vw - 1.5rem); /* versteh ich das richtig, dass das 55% von dem, was man sieht ist, minus 1.5 rem? */
}
#demonstration iframe {
	width: 100%;
	height: calc(56.25vw - 1.5rem);
	border: none;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.75);
	margin-bottom: 1rem;
}
#bedienung video {
	width: 100%;
	max-width: 750px;
	height: auto;
}
#bedienung small {
	margin: 1.5rem 0;
	display: inline-block;
}
#zeigewinn object {
	width: 100%;
	max-width: 700px;
	height: auto;
	margin: 0 auto;
	display: block;
}
#iphone iframe {
	width: 100%;
	height: calc(56.25vw - 1.5rem);
}

/* foot */
footer {
	background-color: var(--main-color);
	color: #ffffff;
	padding: 1rem;
	margin-top: 2rem;
}
footer a,
footer small a {
	color: inherit;
}

footer img {
	display: inline-block; /*<!-- wie kann man hier machen, dass das bildchen auf gleicher höhe wie der text angezeigt wird??2 also dass es zentriert auf der zeile is*/
}

/* general */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
	margin-top: 1em;
}
h3 {
	font-size: 1.5rem;
	border-bottom: solid black thin;
}
h3:before {
	counter-increment: h3;
	content: counter(h3) " ";
}
h4 {
	font-size: 1rem;
}
h1, h2, h3, h4 {
	margin-bottom: 1rem;
}
h3 {
	margin-top: 1.5rem;
}
p {
	font-weight: lighter;
	margin-bottom: 1em;
}
a {
	color: var(--main-color);
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
figcaption {
	font-size: 0.8em;
	color: grey;
	display: block;
	font-weight: lighter;
	word-break: break-all;
}
small {
	font-weight: lighter;
}
figcaption a,
small a {
	color: black;
}
/* images */
img {
	max-width: 100%;
	height: auto;
}
.changed {
	font-size: 0.8rem;
	padding: 0.3rem;
	margin-top: 1rem;
	font-style: italic;
	font-weight: lighter;
	border: thin dotted;
}

/* lists */
#varianten > ul > li {
	list-style: none;
	font-weight: bold;
	color: var(--main-color);
}
#varianten > ul ul > li {
	list-style: none;
	margin-left: 2rem;
	font-weight: 100;
	color: initial;
}
#varianten > ul ul > li:before {
	content: "\2316";
	padding-right: 0.2em;
}
ol {
	list-style-position: inside;
	margin-bottom: 1em;
}
ol > li {
	font-weight: lighter;
	margin-bottom: 0.2em;
}

/* table - use nth-child for coloring  */
table {
	width: 100%;  /* wollen wir hier nicht eine max width definieren? Die Tabelle ist sonst so breit, dass man sie kaum lesen kann */
	border-collapse: collapse;
}
thead {
	color: white;
	background: var(--main-color);
	border-top: solid black 0.3em;
	border-bottom: solid black 0.3em;
}
th, td {
	padding: 0.5rem;
}
tbody > tr > th {
	text-align: left;
	font-weight: bold;
}
tbody > tr > td {
	text-align: center;
	font-weight: lighter;
}
tr:nth-child(2n) {
	background: #DBE6EF;
	border-top: solid #BDD0E4 thin;
	border-bottom: solid #BDD0E4 thin;
}

/* forms - use  not() */     /*<--- ich hab noch nie was von not gehört, grad nochmal die Formular-Folien durchsucht... habs gegooget... naja, irgendwo ist es dann rasch noch pseudomässig eingebaut. vlt wärs für den bild-upload-button gedacht gewesen?*/

/*slider*/

#font-size-form > label {
	color: grey;
}

#font-size-form {
	float: right;
}
#font-size-form > label,
#font-size-form > input,
#font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}
#font-slider {
	border-bottom: none;
	border-radius: 1rem;
	width: 14rem;
	height: 0.5rem;
}

/*Formular Punkt 8 und neuen Autor registrieren*/

aside fieldset {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 0.4rem;
}

legend {
	color: black;
	background: transparent; /* im PDF geht der Rahmen vom fieldset durch das Legend Tag durch, als wäre legend transparent. weiss net, wie das geht  TODO*/
}

aside label {  /* oben ist auch was mit label für den slider, soll man das noch verbinden? macht das Sinn? ich finde nicht. Finde es so klarer. Aber ist Geschmacksache */
	color: grey;
	display: inline-block;
	margin-top: 1rem;
}

.gray-input-field {
	background-color: #EEEEEE;
	border: none;
	border-bottom: 2px solid black;
	padding: 0.2em;
	margin: 0 0.1em;
	font-family: inherit;              /*Hier ist gray input field und wide input field nicht nur eine klasse, weil das search feld nicht auch breit ist*/
	font-size: inherit;
}

.wide-input-field {  /* <!-- hier nehme ich nicht fix input als selector, weil es ja auch type=radiobuttun und so zeug hat, und das textarea damit nicht selected wär */
	display: block;
	width: 98%;  /*kleine interessensfrage: 98% wovon ist dasd hier? Dokumentbreite oder breite vom übergeordneten Blockelement? */
}

.verification > div > label {
	display: inline;   /*sonst ist eine zeile für kästchen und eine für text, wenn fenster zu dünn */
}

.verification > div > input {
	margin-top: 1rem;   /*weil nun das label element kein margin mehr hat, da inline, müssen wir es hier definieren. Ein Gebastel, dieses CSS!*/
}

/*
schaut schon doof aus....
das valid oder invalid greift direkt....
kriege es nicht ohne hin
*/

/*

.wide-input-field:valid {
	box-shadow: 0 0 3px 1px #005500;
}

.wide-input-field:invalid {
	box-shadow: 0 0 3px 1px #FF0000;
}

.wide-input-field:focus {
	box-shadow: 0 0 3px 1px #000055;
}

*/
.blue-button {
	background-color: var(--main-color);
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 1em;
	padding: 0.5em 1em;
	margin: 0;
	box-shadow: 0 0 10px 1px #555555;
}

#form-file-upload-button {
	display: block;
	padding: 0.2em;
}

.search-icon:before {
	content: '\1F50E  ';
}

.search-icon {
	padding: 0.15em 1em;
}