/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
html {
	/* varis */
	--main-color: #0060A0;

	/* counters */
	counter-reset: h3;

	font-size: 1em; /* root element will be affected by js resize tool */
}
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 1.5rem;
}
/* head */
header {
	height: 4.5rem;
	overflow: visible;
	padding: 0 0.5rem;
	margin-bottom: 3rem;
	background-color: var(--main-color);
	color: #ffffff;

}
header img {
	height: auto;
	margin: 10px 5px 0 0;
	width: 90px;
}
header h1 {
	margin-top: 0.5rem;
}
/* navigation */
nav {
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	font-weight: lighter;
}
nav dl {
	border: 2px var(--main-color) solid;
	padding: 10px 5px;
	background-color: #F6F6F6;
}
nav dl dd {
	margin-left: 1.5rem;
}
/* icons for nav */
nav a[data-lang="en"]::before {
	background: url("../media/flag-en.svg") no-repeat;
}
nav a[data-lang="fr"]::before {
	background: url("../media/flag-fr.svg") no-repeat;
}
nav a[data-lang="it"]::before {
	background: url("../media/flag-it.svg") no-repeat;
}
nav a[data-lang]::before {
	display: inline-block;
	background-size: 1.4rem 0.8rem;
	width: 1.7em;
	height: 0.8rem;
	content: '';
}

/* main part */
#taschenrechner figure {
	width: 30%;
	max-width: 200px;
	margin-right: 2rem;
	margin-bottom: 1rem;
}
#demonstration figure {
	width: 50vw
}
#demonstration iframe {
	width: 100%;
	height: 52vw;
	border: none;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
	margin-bottom: 1rem;
}
#bedienung video {
	width: 70%;
	height: auto;
}
#bedienung small {
	margin: 1.5rem 0;
	display: inline-block;
}

/* foot */

/* general */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
	border-bottom: solid black thin;
}
h3:before {
	counter-increment: h3;
	content: counter(h3) " ";
}
h4 {
	font-size: 1rem;
}
h1, h2, h3, h4 {
	margin-bottom: 1rem;
}
h3 {
	margin-top: 1.5rem;
}
p {
	font-weight: lighter;
	margin-bottom: 1em;
}
a {
	color: var(--main-color);
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
figcaption {
	font-size: 0.8em;
	color: grey;
	display: block;
	font-weight: lighter;
	word-break: break-all;
}
small {
	font-weight: lighter;
}
figcaption a,
small a {
	color: black;
}
/* images */
img {
	max-width: 100%;
	height: auto;
}
.changed {
	font-size: 0.8rem;
	padding: 0.3rem;
	margin-top: 1rem;
	font-style: italic;
	font-weight: lighter;
	border: thin dotted;
}

/* lists */
#varianten > ul > li{
	list-style: none;
	font-weight: bold;
	color: dodgerblue;
}
#varianten > ul ul > li{
	list-style: disc; /* <!-- //das icon find ich nicht????-->*/
	margin-left: 2rem;
	font-weight: initial;
	color: initial;
}

/* table */

/* forms */
label {
	color: grey;
}

#font-size-form {
	float: right;
}
#font-size-form > label,
#font-size-form > input,
#font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}
#font-slider {
	border-bottom: none;
	border-radius: 1rem;
	width: 14rem;
	height: 0.5rem;
}

